<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tutorial Spring boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-container w3-auto">
  <div class="w3-panel w3-pale-yellow w3-border">
	<h1>Error agregando usuario!</h1>
    <p th:text="'Error: ' + ${error} " />
  </div>
</body>
</html>