<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tutorial Spring boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="estilo.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="w3-container w3-teal">
	<h1>Agregando usuario</h1>  
  </div>
  
  <div class="w3-container">
  
    <form action="agregarUsuario" method="post" class="w3-container w3-card-4 w3-margin">
	    <label for="nombre" class="w3-text-black">Nombre:</label>
	    <input type = "text" name = "nombre" class="w3-input w3-border w3-light-grey"><br>
	    
	    <label for="apellido" class="w3-text-black">Apellido:</label>
	    <input type = "text" name = "apellido" class="w3-input w3-border w3-light-grey"><br>
	    
	    <label for="edad" class="w3-text-black">Edad:</label>
	    <input type = "text" name = "edad" class="w3-input w3-border w3-light-grey"><br>
	    
	    <!-- Agregando el comboBox -->
	    <label for="grupo" class="w3-text-black">Grupo:</label>
	    <input type = "text" name = "grupo" class="w3-input w3-border w3-light-grey"><br>
	    
	    <input type="submit" value="Aceptar" class="w3-btn w3-teal w3-padding w3-block"><br>
	</form>
	
  </div>
  
</body>
</html>